/* change classs to .application.pf2e-eat */
/*
.exploration-button {
    background: transparent;
    padding: 6px 4px 2px 4px;
    font-size: 1.25em;
    line-height: normal;
    color: var(--color-text-light-highlight);
    border: 0;
    border-top: 2px groove var(--color-border-dark-secondary);
    text-align: left;
}

.exploration-button:hover, .exploration-button:focus {
    box-shadow: none;
    text-shadow: 0 0 5px red;
}

.exploration-button > i {
    margin: 0px 6px 0px 6px;
    padding-left: 4px;
}

.pf2e-eat .exploration-table {
    margin: 0.5em 0;
    border-top: 1px solid var(--color-border-highlight);
    border-radius: 0px;
}

.pf2e-eat .exploration-table tr {
    border-bottom: 1px solid var(--color-border-light-tertiary);
}

.pf2e-eat .player-name {
    text-shadow: 
        -1px -1px 0 var(--color-cool-5-50),
        1px -1px 0 var(--color-cool-5-50),
        -1px 1px 0 var(--color-cool-5-50),
        1px 1px 0 var(--color-cool-5-50);
}

.pf2e-eat .exploration-table tr:last-child {
    border-bottom: 1px solid var(--color-border-highlight);
}

.pf2e-eat .exploration-table hr {
    margin: 0.25rem 0;
}

.pf2e-eat .roll-text {
    font-size: var(--font-size-16);
}

.pf2e-eat .roll-text span {
    text-shadow: 
        -1px -1px 0 var(--color-cool-5-50),
        1px -1px 0 var(--color-cool-5-50),
        -1px 1px 0 var(--color-cool-5-50),
        1px 1px 0 var(--color-cool-5-50);
}

.pf2e-eat .exploration-table .content-link {
    color: var(--color-text-dark-primary);
    background: #DDD;
}

.pf2e-eat .exploration-table .tags .tag.tag_transparent{
    background-color: var(--blind-roll);
}

.pf2e-eat.follow-the-expert.settings {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
    justify-items: center;
}
*/